.login-popup{
 position: absolute;
 z-index: 11;
 width: 100%;
 height: 100%;
 background-color: #00000090;
 display: grid;
}
.login-container{
 place-self: center;
 color: #808080;
 position: relative;
 top: 44px;
 width: 25rem;
 background-color: white;
 display: flex;
 flex-direction: column;
 gap: 25px;
 padding: 14px 30px;
 border-radius: 8px;
 font-size: 14px;
 animation: fadeIn 0.5s;
}
.login-popup-display{
 display: flex;
 justify-content: space-between;
 align-items: center;
 color: black;
}
.login-popup-display i{
 width: 16px;
 cursor: pointer;
}
.loginpopup-input{
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.loginpopup-input input{
 outline: none;
 border: 1px sold #c9c9c9;
padding: 10px;
border-radius: 4px;
}
.login-container button{
 border: none;
 padding: 10px;
 border-radius: 4px;
 color: white;
 background-color: purple;
 font-size: 15px;
 cursor: pointer;
}
.login-popup-condition{
 display: flex;
 
 align-items: start;
 gap: 8px;
 margin-top: -15px;
}
.login-popup-condition input{
 margin-top: 4px;
}
.login-popup p span{
 color: purple;
 font-weight: 500;
 cursor: pointer;
}
.destination{
 display: flex;
 justify-content: space-between
}
.destination input{
 width:10rem;
}